.project-header {
  position: relative;
  text-align: center;
}
.project-header > h1 {
  font-size: 1.9rem;
  margin: 2rem 0;
  padding: 0 2rem;
}
.project-header > p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--color-dark-gray);
}

.logo {
  position: absolute;
  top: -2.8rem;
  left: calc(50% - 28px);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0;
  padding: 0.4rem;
  position: relative;
}

.bookmark > img {
  width: 54px;
  height: 54px;
}

.bookmark:after {
  content: "Bookmark";
  position: absolute;
  background-color: var(--bg-light-gray);
  border: 1px solid var(--bg-light-gray);
  border-radius: 50px;
  color: var(--color-dark-gray);
  padding: 1.8rem 2.5rem 1.8rem 6.6rem;
  display: none;
}

@media screen and (min-width: 768px) {
  .project-header > h1 {
    font-size: 2.9rem;
  }
  .project-header > p {
    font-size: 1.6rem;
  }

  .bookmark:after {
    display: block;
  }
}
